<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohan.multiapp">

    <application>
        <activity android:name=".calculator" />
        <activity android:name=".notes"></activity>
    </application>

</manifest>